body {
    background: url(../../img/sbg.jpg);
	background-size: 115%;
	background-attachment: fixed;
}
#contact {
    position: absolute;
    background-image: url(../../img/contact.png);
    background-repeat: no-repeat;
    height:143px;
    width: 42px;
    left: -12px;
    top: 400px;
}
#contact:hover {position: absolute;background-image: url(../../img/contacthover.png);}

a, a:hover {
    color: #a2000c;
    text-decoration: none;
}
h1 {
    font-size: 42px;
    margin: 20px 0 40px 0;
    font-family: "ChunkFiveRoman";
}

h2 {
    font-family: "ChunkFiveRoman";
    font-size: 28px;
}

h3 {
    font-family: "ChunkFiveRoman";
    font-size: 22px;
}

h4 {
    font-family: "MuseoSans500";
    font-weight: lighter;
    font-size: 18px;
}

h5 {
    font-family: "MuseoSans500";
    font-size: 14px;
    margin-top: -10px;
}

h3.subheading {
    margin-top: -30px;
    margin-bottom: 30px;
}
 .subheading a{text-decoration: none;
    color: #a2000c;}


.container {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid white;
    border-radius: 15px;
    -moz-border-radius: 15px;
    background: rgba(255, 255, 255, 0.6);
}

