::selection      { background:#65ccdd;  /* Safari and Opera */ }
::-moz-selection  { background:#65ccdd; /* Firefox */ }

a {text-decoration: none;}
#me {
	max-width: 500px;
	position: absolute;
	right: 0px;
	top: 59.8%;
	opacity: 0.7;
}
#contact {
	position: fixed;
	background-color: black;
	opacity: 0.5;
	height:143px;
	width: 62px;
	border-radius:10px;
	box-shadow: 5px 5px 5px #888888;
	left: -30px;
	top: 50%;
}
#contacttext {
	position: relative;
	top: 5px;
	left: 40px;
	line-height: 0.9;
	font-family: "Courier New";
	font-size: 15px;
	color: white;
}
#ani {
    height:200px;
    width:70px;
    display: inline-block;
    position:absolute;
    z-index:4000;
}
#rp {
	background-image: url(../img/rp.png);
	background-repeat: no-repeat;
	width: 360px;
	height: 145px;
	position: absolute;
	top: 10px;
	left: 0px;
	padding-bottom: 50px;
	font-family: 'Captureit2';
	font-size: 6em;
}
a #rp {
	text-decoration: none;
	color: white;
}

img{
    position:absolute;
    top:160px;
    z-index:5000;
}
#nine {
    background-image: url("../img/3.png");
    position: absolute;
    width: 66px;
    height: 158px;
    left:1350px;
    top:160px;
    background-repeat: no-repeat;
}
#defaultone {
	background-image: url("../img/1.png");
	background-repeat: no-repeat;
	position: absolute;
	top:160px;
	left:50px;
	width: 66px;
    height: 158px;
}
header {
	width:100%;
	height:8px;
	position:absolute;
	left:0;top:0px;
	background:url(../img/colors-ban1d.png) repeat-x;
}

/***
@font-face {
    font-family: 'pironv2Regular';
    src: url('../fonts/tfpironv2-webfont.eot');
    src: url('../fonts/tfpironv2-webfont.eot') format('embedded-opentype'),
         url('../fonts/tfpironv2-webfont.woff') format('woff'),
         url('../fonts/tfpironv2-webfont.ttf') format('truetype'),
         url('../fonts/tfpironv2-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

#stripe {
	position: fixed;
	top: 0px;
	right: 0px;
	width: 100%;
	height: 10px;
	z-index: 3;
	background: url("../colors-band.png");
}
***/
body {
	padding-left: 20%;
	font-size: 100%;
	font-family: 'pironv2Regular', Rockwell, Georgia, Verdana, Arial;
	font-weight: normal;
    background: url(../img/bg.jpg);
	background-size: 100%;
	background-attachment: fixed;
	background-position: right;
	line-height:0.9;
	padding-top: 11%;
}


.container {
	position: relative;
	padding-left: 4%;
	margin-top: 150px;
	border: 1px solid white;
	border-radius: 15px;
	-moz-border-radius: 15px;
	width:auto;
	background-image: url(../img/whiteTransperantPNG.png);
	color: #333;
}

.container a{
	text-decoration:none;
	color:#a2000c;
}
#title {
	margin-top: 1.5%;
	margin-bottom: 2%;
	margin-left: 4%;
}


/*** Social ***/

#social {
	position: absolute;
	top:150px;
	float: right;
	right: 80px;
	
}
#social ul li {
	padding: 0px;
	margin: 0px;
	display: inline;
	float: right;
}
#social ul li a {
	display: block;
	height: 25px;
	width: 27px;
	margin-left: 5px;
}
#social ul li a span {
	display: none;
	visibility: hidden;
}
#social ul li a.twitter {
	background: url("../i/icon-tw.png") no-repeat;
	background-position: top;
}
#social ul li a.fb {
	background-position: top;
	background-image: url("../i/icon-fb.png");
	background-repeat: no-repeat;
}
#social ul li a.in {
	background: url("../i/icon-li.png") no-repeat;
	background-position: top;
}
#social ul li a.git {
	background: url("../i/icon-github.png") no-repeat;
	background-position: top;
}

#social ul li a.twitter:hover, #social ul li a.in:hover, #social ul li a.fb:hover,#social ul li a.git:hover {
	background-position: bottom;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

#nav-arrows {
	background-image: url(../img/next.png);
	background-repeat: no-repeat;
	position: fixed;
	right: -5px;
	top: 45%;
	width: 74px;
	height: 37px;
	z-index: 999;
}