::selection      { background:#bdda91;  /* Safari and Opera */ }
::-moz-selection  { background:#bdda91; /* Firefox */ }
body {
	background-image: url(img/bg-clouds.png);
	background-repeat: no-repeat;
}

.mtext {
	background-image: url(img/menu.png);
	background-repeat: no-repeat;
	width: 309px;
	height: 103px;
	position: fixed;
	top: 42%;
	left: 80px;
	z-index:99;
}
a .mtext {
	text-decoration: none;
}
#con {
	position: fixed;
	background-color: black;
	opacity: 0.5;
	height:143px;
	width: 62px;
	left: -30px;
	top: 40%;
	border-radius:10px;
	box-shadow: 5px 5px 5px #888888;
}
#contacttext {
	position: relative;
	top: 5px;
	left: 40px;
	line-height: 0.9;
	font-family: "Courier New";
	font-size: 15px;
	color: white;

}
#backhome {background-image: url(img/home.png);
	background-repeat: no-repeat;
	width: 84px;
	height: 37px;
	position: fixed;
	left: -10px;
	top: 150px;	
	z-index: 99;
}
header #pgbar {
	width:100%;
	height:8px;
	position:absolute;
	left:0;top:0px;
	background:url(img/colors-ban1d.png) repeat-x;
}
header #stripe {
	width:100%;
	height:8px;
	position:absolute;
	left:0%;top:0%;
	background:url(img/colors-band.gif) repeat-x;
}

a { 
	text-decoration:none; 
	color:#00c6ff;
	position: relative;
}


.container {
	width: 70%;	
}

.content {
	width:100%;
	min-height:850px;
	margin:0 30px;
	position:relative;
	padding-left: 200px;
	padding-bottom: 0px;
	position: absolute;
	top: 2%;
}



/* LINE FOLLOW */

#follow { 
	list-style:none; 
	position:relative;
	top:210px;
	left:380px;
	z-index:-1;
}

.running .line1,.running .line2,.running .line3,.running .line4,.running .line5, .running .line6, .running .line7, .running .line8, .running .line9, .running .line10 {
	background:#2187e7; 
	width:0px;
	height:1px;
	position: absolute;
	-moz-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
}

.running .line1 { 
	-moz-transform:rotate(25deg);  
	-webkit-transform:rotate(25deg);   
	-moz-animation:move  0.65s linear forwards; 
	-webkit-animation:move  0.65s linear forwards;
	-webkit-transform-origin: -513px 53px;
	-moz-transform-origin: -513px 53px;
}
.running .line2 { 
	-moz-transform:rotate(1deg); 
	-webkit-transform:rotate(1deg);  
	-moz-animation:move1 0.75s linear forwards; 
	-webkit-animation:move1  0.75s linear forwards;
	-webkit-transform-origin: -12795px -1140px;
	-moz-transform-origin: -12795px -1140px;
}
.running .line3 { 
	-moz-transform:rotate(310deg); 
	-webkit-transform:rotate(310deg);
	-moz-animation:move2 0.9s linear forwards;  
	-webkit-animation:move2  0.9s linear forwards;
	-webkit-transform-origin: 230px 140px;
	-moz-transform-origin: 230px 140px;
}
.running .line4 { 
	-moz-transform:rotate(335deg); 
	-webkit-transform:rotate(335deg);  
	-moz-animation:move3 0.5s linear forwards;  
	-webkit-animation:move3  0.5s linear forwards;
	-webkit-transform-origin: 493px 156px;
	-moz-transform-origin: 493px 156px;
}
.running .line5 { 
	-moz-transform:rotate(50deg); 
	-webkit-transform:rotate(50deg);  
	-moz-animation:move4 0.95s linear forwards;  
	-webkit-animation:move4  0.95s linear forwards;
	-webkit-transform-origin: -250px 85px;
	-moz-transform-origin: -250px 85px;
}
.running .line6 {
	-moz-transform:rotate(1deg);
	-moz-transform-origin: 520px 9800px;
	-moz-animation:move5 0.5s 0.5s linear forwards;
	
	-webkit-transform:rotate(1deg);
	-webkit-transform-origin: 520px 9800px;
	-webkit-animation:move5 0.5s 0.60s linear forwards;
}

.running .line7 {
	-moz-transform:rotate(1deg);
	-moz-transform-origin: -5300px 14800px;
	-moz-animation:move6 0.4s 0.90s linear forwards;
	
	-webkit-transform:rotate(1deg);
	-webkit-transform-origin: -5300px 14800px;
	-webkit-animation:move6 0.4s 0.90s linear forwards;
}


.running .line8 {
	-moz-transform:rotate(1deg);
	-moz-transform-origin: -19950px 14500px;
	-moz-animation:move7 0.4s 0.90s linear forwards;
	
	-webkit-transform:rotate(1deg);
	-webkit-transform-origin: -19950px 14500px;
	-webkit-animation:move7 0.4s 0.90s linear forwards;
}


.running .line9 {
	-moz-transform:rotate(1deg);
	-moz-transform-origin: -25950px 10000px;
	-moz-animation:move8 0.4s 0.90s linear forwards;
	
	-webkit-transform:rotate(1deg);
	-webkit-transform-origin: -25950px 10000px;
	-webkit-animation:move8 0.4s 0.90s linear forwards;
}




/* POINTER */

.running .ball, .running .ball1, .running .ball2, .running .ball3, .running .ball4, .running .ball5,.running .ball6,.running .ball7,.running .ball8 {
	background-color:#2187e7; 
	background-image: -moz-linear-gradient(90deg, #2187e7 25%, #a0eaff); 
	background-image: -webkit-linear-gradient(90deg, #2187e7 25%, #a0eaff); 

	width:7px;
	height:7px;
	border-radius:50px;
	
	position:absolute;
	z-index:99;
	
	-moz-transform:scale(0);
	-moz-animation:point 0.1s linear forwards;
	
	-webkit-transform:scale(0);
	-webkit-animation:point 0.1s linear forwards;
}

/* SPECIAL FX*/

.running .pulse, .running .pulse1, .running .pulse2, .running .pulse3, .running .pulse4, .running .pulse5, .running .pulse6, .running .pulse7, .running .pulse8 {
	width:12px;
	height:12px;
	border-radius:30px;
	border: 1px solid #00c6ff;
	box-shadow: 0 0 5px #00c6ff;
	position:absolute;
	
	-moz-transform:scale(0);
	-moz-animation:pulse 0.6s ease-out;
	
	-webkit-transform:scale(0);
	-webkit-animation:pulse 0.6s ease-out;
}


/* COORDINATE POINTS BALL + SPECIAL FX */

span    { position:absolute; text-indent:-9999px; }

.ball   { left:300px; top:-3px; }
.ball1  { left:300px; top:-3px; }
.ball2  { left:300px; top:-3px; }
.ball3  { left:300px; top:-3px; }
.ball4  { left:300px; top:-3px; }
.ball5  { left:74px; top:-3px; }
.ball6  { left:80px; top:-3px; }
.ball7  { left:80px; top:-3px; }
.ball8  { left:80px; top:-3px; }

.pulse   { left:300px; top:-5px; }
.pulse1  { left:300px; top:-5px; }
.pulse2  { left:300px; top:-5px; }
.pulse3  { left:300px; top:-5px; }
.pulse4  { left:300px; top:-5px; }
.pulse5  { left:72px; top:-5px; }
.pulse6  { left:78px; top:-5px; }
.pulse7  { left:78px; top:-5px; }
.pulse8  { left:78px; top:-5px; }



/* DELAY CONTROL LAYER */

#layerBall, #layerPulse     { -moz-animation-delay:0.6s; -webkit-animation-delay:0.6s; }
#layerBall1, #layerPulse1   { -moz-animation-delay:0.7s; -webkit-animation-delay:0.7s; }
#layerBall2, #layerPulse2   { -moz-animation-delay:0.8s; -webkit-animation-delay:0.8s; }
#layerBall3, #layerPulse3   { -moz-animation-delay:0.4s; -webkit-animation-delay:0.4s; }
#layerBall4, #layerPulse4   { -moz-animation-delay:0.8s; -webkit-animation-delay:0.8s; }
#layerBall5, #layerPulse5   { -moz-animation-delay:0.8s; -webkit-animation-delay:0.8s; }
#layerBall6, #layerPulse6   { -moz-animation-delay:0.8s; -webkit-animation-delay:0.8s; }
#layerBall7, #layerPulse7   { -moz-animation-delay:0.8s; -webkit-animation-delay:0.8s; }
#layerBall8, #layerPulse8   { -moz-animation-delay:0.8s; -webkit-animation-delay:0.8s; }
#layerBall9, #layerPulse9   { -moz-animation-delay:0.8s; -webkit-animation-delay:0.8s; }

/* FOLLOW ME LIST */

ul#menu { list-style:none; }
ul#menu li { position:relative; 
	background-image: url(img/blackTransperantPNG.png);
	width:90px;
	font-family: Helvetica, Arial, Sans-Serif;;
	font-size: 0.8em;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	padding: 5px;
	border-radius: 3px;
	opacity:0; 
	z-index: 99;
}

ul#menu li:hover {
	cursor:pointer;
}

ul#menu a:hover {
	color: #bdda91;
}

.running #layermenuControl  { -moz-animation:tooltip 0.35s 0.55s linear forwards; -webkit-animation:tooltip 0.35s 0.55s linear forwards; }
.running #layermenuControl1 { -moz-animation:tooltip 0.35s 0.65s linear forwards; -webkit-animation:tooltip 0.35s 0.65s linear forwards; }
.running #layermenuControl2 { -moz-animation:tooltip 0.35s 0.8s linear forwards;  -webkit-animation:tooltip 0.35s 0.8s linear forwards; }
.running #layermenuControl3 { -moz-animation:tooltip 0.35s 0.4s linear forwards;  -webkit-animation:tooltip 0.35s 0.4s linear forwards; }
.running #layermenuControl4 { -moz-animation:tooltip 0.35s 0.5s linear forwards;  -webkit-animation:tooltip 0.35s 0.5s linear forwards; }




#menu .about {top:294px; left:740px }
#menu .project  {top:520px; left:730px }
#menu .contact   {top:370px; left:680px; }
#menu .resume   {top:574px; left:655px; }
#menu .home 	  {top:86px; left:650px}

/* ANIMATION LINE */

@-moz-keyframes move {
	0%   { width:0px;}
	100% { width:300px; box-shadow:0px 0px 5px 1px rgba(0,198,255,0.5); }
}

@-moz-keyframes move1 {
	0%   { width:0px;}
	100% { width:300px; box-shadow:0px 0px 5px 1px rgba(0,198,255,0.5); }
}

@-moz-keyframes move2 {
	0%   { width:0px;}
	100% { width:300px; box-shadow:0px 0px 5px 1px rgba(0,198,255,0.5); }
}

@-moz-keyframes move3 {
	0%   { width:0px;}
	100% { width:300px; box-shadow:0px 0px 5px 1px rgba(0,198,255,0.5); }
}
@-moz-keyframes move4 {
	0%   { width:0px;}
	100% { width:300px; box-shadow:0px 0px 5px 1px rgba(0,198,255,0.5); }
}
@-moz-keyframes move5 {
	0%   { width:0px;}
	100% { width:80px; box-shadow:0px 0px 5px 1px rgba(0,198,255,0.5); }
}

@-moz-keyframes move6 {
	0%   { width:0px;}
	100% { width:80px; box-shadow:0px 0px 5px 1px rgba(0,198,255,0.5); }
}

@-moz-keyframes move7 {
	0%   { width:0px;}
	100% { width:80px; box-shadow:0px 0px 5px 1px rgba(0,198,255,0.5); }
}

@-moz-keyframes move8 {
	0%   { width:0px;}
	100% { width:80px; box-shadow:0px 0px 5px 1px rgba(0,198,255,0.5); }
}

@-webkit-keyframes move {
	0%   { width:0px;}
	100% { width:300px; box-shadow:0px 0px 5px 1px rgba(0,198,255,0.5); }
}

@-webkit-keyframes move1 {
	0%   { width:0px;}
	100% { width:300px; box-shadow:0px 0px 5px 1px rgba(0,198,255,0.5); }
}

@-webkit-keyframes move2 {
	0%   { width:0px;}
	100% { width:300px; box-shadow:0px 0px 5px 1px rgba(0,198,255,0.5); }
}

@-webkit-keyframes move3 {
	0%   { width:0px;}
	100% { width:300px; box-shadow:0px 0px 5px 1px rgba(0,198,255,0.5); }
}

@-webkit-keyframes move4 {
	0%   { width:0px;}
	100% { width:300px; box-shadow:0px 0px 5px 1px rgba(0,198,255,0.5); }
}

@-webkit-keyframes move5 {
	0%   { width:0px;}
	100% { width:80px; box-shadow:0px 0px 5px 1px rgba(0,198,255,0.5); }
}

@-webkit-keyframes move6 {
	0%   { width:0px;}
	100% { width:80px; box-shadow:0px 0px 5px 1px rgba(0,198,255,0.5); }
}

@-webkit-keyframes move7 {
	0%   { width:0px;}
	100% { width:80px; box-shadow:0px 0px 5px 1px rgba(0,198,255,0.5); }
}

@-webkit-keyframes move8 {
	0%   { width:0px;}
	100% { width:80px; box-shadow:0px 0px 5px 1px rgba(0,198,255,0.5); }
}

/* ANIMATION BALL + SPECIAL FX */

@-moz-keyframes point {
	0%  {-moz-transform:scale(0,0);}
	100%{-moz-transform:scale(1,1);}	
}

@-moz-keyframes pulse {
	0%   {-moz-transform: scale(0);opacity: 0;}
    10%  {-moz-transform: scale(1);opacity: 0.5;}
	50%  {-moz-transform: scale(1.75);opacity: 0;}
    100% {-moz-transform: scale(0);opacity: 0;}  
} 

@-webkit-keyframes point {
	0%  {-webkit-transform:scale(0,0);}
	100%{-webkit-transform:scale(1,1);}	
}

@-webkit-keyframes pulse {
	0%   {-webkit-transform: scale(0);opacity: 0;}
    10%  {-webkit-transform: scale(1);opacity: 0.5;}
	50%  {-webkit-transform: scale(1.75);opacity: 0;}
    100% {-webkit-transform: scale(0);opacity: 0;}  
} 

/* ANIMATION LABEL */

@-moz-keyframes tooltip {
	0%  { -moz-transform:scale(0,0); opacity:0;}
	50% { -moz-transform:scale(1.2,1.2); opacity:0.3; }
	75% { -moz-transform:scale(0.9,0.9); opacity:0.7;}
	100%{ -moz-transform:scale(1,1); opacity:1;}
}

@-webkit-keyframes tooltip {
	0%  { -webkit-transform:scale(0,0); opacity:0;}
	50% { -webkit-transform:scale(1.2,1.2); opacity:0.3; }
	75% { -webkit-transform:scale(0.9,0.9); opacity:0.7;}
	100%{ -webkit-transform:scale(1,1); opacity:1;}
}

/*---------------REVERSE ANIMATION-------------------*/

/* REVERSE LINE PROPERTIES */


.reverse .line1,.reverse .line2,.reverse .line3,.reverse .line4,.reverse .line5 {
	background:#2187e7; 
	width:0px;
	height:1px;
	box-shadow:0px 0px 5px 1px rgba(0,198,255,0.5);
	-moz-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
}

.reverse .line1 { 
	-moz-transform:rotate(25deg);  
	-webkit-transform:rotate(25deg);   
	-moz-animation:moveReverse  0.65s linear forwards; 
	-webkit-animation:moveReverse  0.65s linear forwards;
	-webkit-transform-origin: -513px 53px;
	-moz-transform-origin: -513px 53px;
}
.reverse .line2 { 
	-moz-transform:rotate(1deg); 
	-webkit-transform:rotate(1deg);  
	-moz-animation:move1Reverse 0.75s linear forwards; 
	-webkit-animation:move1Reverse  0.75s linear forwards;
	-webkit-transform-origin: -12795px -1140px;
	-moz-transform-origin: -12795px -1140px;
}
.reverse .line3 { 
	-moz-transform:rotate(310deg); 
	-webkit-transform:rotate(310deg);  
	-moz-animation:move2Reverse 0.9s linear forwards;  
	-webkit-animation:move2Reverse  0.9s linear forwards;
	-webkit-transform-origin: 230px 140px;
	-moz-transform-origin: 230px 140px;
}
.reverse .line4 { 
	-moz-transform:rotate(335deg); 
	-webkit-transform:rotate(335deg);
	-moz-animation:move3Reverse 0.5s linear forwards;  
	-webkit-animation:move3Reverse  0.5s linear forwards;
	-webkit-transform-origin: 493px 156px;
	-moz-transform-origin: 493px 156px;
}
.reverse .line5 { 
	-moz-transform:rotate(50deg);  
	-webkit-transform:rotate(50deg);  
	-moz-animation:move4Reverse 0.5s linear forwards;  
	-webkit-animation:move4Reverse  0.5s linear forwards;
	-webkit-transform-origin: -250px 85px;
	-moz-transform-origin: -250px 85px;
}

/* REVERSE POINT PROPERTIES */

.reverse .ball, .reverse .ball1, .reverse .ball2, .reverse .ball3, .reverse .ball4 {
	background-color:#2187e7; 
	background-image: -moz-linear-gradient(90deg, #2187e7 25%, #a0eaff); 
	background-image: -webkit-linear-gradient(90deg, #2187e7 25%, #a0eaff); 

	width:7px;
	height:7px;
	border-radius:50px;
	
	position:absolute;
	z-index:99;
	
	-moz-transform:scale(1);
	-moz-animation:pointReverse 0.1s linear forwards;
	
	-webkit-transform:scale(1);
	-webkit-animation:pointReverse 0.1s linear forwards;
}

/* DELAY CONTROL REVERSE */

.reverse #layerBall, .reverse #layerBall1, .reverse #layerBall2, .reverse #layerBall3, .reverse #layerBall4  { -moz-animation-delay:0s; -webkit-animation-delay:0s; }

/* REVERSE LABEL PROPERTIES */
.reverse ul#menu li { position:relative; background-image: url(img/blackTransperantPNG.png);
	width:90px;
	font-family: Helvetica, Arial, Sans-Serif;;
	font-size: 0.8em;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	padding: 5px;
	border-radius: 3px;
	opacity:1; 
}

.reverse #layermenuControl  { -moz-animation:tooltipReverse 0.35s linear forwards;  -webkit-animation:tooltipReverse 0.35s linear forwards; }
.reverse #layermenuControl1 { -moz-animation:tooltipReverse 0.35s linear forwards;  -webkit-animation:tooltipReverse 0.35s linear forwards; }
.reverse #layermenuControl2 { -moz-animation:tooltipReverse 0.35s linear forwards;  -webkit-animation:tooltipReverse 0.35s linear forwards; }
.reverse #layermenuControl3 { -moz-animation:tooltipReverse 0.35s linear forwards;  -webkit-animation:tooltipReverse 0.35s linear forwards; }
.reverse #layermenuControl4 { -moz-animation:tooltipReverse 0.35s linear forwards;  -webkit-animation:tooltipReverse 0.35s linear forwards; }

/* ANIMATION LINE REVERSE */

@-moz-keyframes moveReverse {
	0%   { width:300px;}
	100% { width:0px; box-shadow:none; }
}

@-moz-keyframes move1Reverse {
	0%   { width:360px;}
	100% { width:0px; box-shadow:none; }
}

@-moz-keyframes move2Reverse {
	0%   { width:205px;}
	100% { width:0px; box-shadow:none; }
}

@-moz-keyframes move3Reverse {
	0%   { width:370px;}
	100% { width:0px; box-shadow:none; }
}

@-webkit-keyframes moveReverse {
	0%   { width:300px;}
	100% { width:0px; box-shadow:none; }
}

@-webkit-keyframes move1Reverse {
	0%   { width:360px;}
	100% { width:0px; box-shadow:none; }
}

@-webkit-keyframes move2Reverse {
	0%   { width:205px;}
	100% { width:0px; box-shadow:none; }
}

@-webkit-keyframes move3Reverse {
	0%   { width:370px;}
	100% { width:0px; box-shadow:none; }
}

@-webkit-keyframes move4Reverse {
	0%   { width:250px;}
	100% { width:0px; box-shadow:none; }
}

/* ANIMATION POINTS REVERSE */

@-moz-keyframes pointReverse {
	0%  {-moz-transform:scale(1,1);}
	100%{-moz-transform:scale(0,0);}	
}

@-webkit-keyframes pointReverse {
	0%  {-webkit-transform:scale(1,1);}
	100%{-webkit-transform:scale(0,0);}	
}

/* ANIMATION LABEL REVERSE */

@-moz-keyframes tooltipReverse {
	0%  { -moz-transform:scale(1,1); opacity:1;}
	50% { -moz-transform:scale(0.9,0.9); opacity:0.7; }
	75% { -moz-transform:scale(1.2,1.2); opacity:0.3;}
	100%{ -moz-transform:scale(0,0); opacity:0;}
}

@-webkit-keyframes tooltipReverse {
	0%  { -webkit-transform:scale(1,1); opacity:1;}
	50% { -webkit-transform:scale(0.9,0.9); opacity:0.7; }
	75% { -webkit-transform:scale(1.2,1.2); opacity:0.3;}
	100%{ -webkit-transform:scale(0,0); opacity:0;}
}


/* MENU ANIMATION */

.menutext {
	position: absolute;
	left: 372px;
	top: 420px;
}
.circle {
    background-color: rgba(0,0,0,0);
    border:5px solid rgba(0,183,229,0.9);
    opacity:.9;
    border-right:5px solid rgba(0,0,0,0);
    border-left:5px solid rgba(0,0,0,0);
    border-radius:50px;
    box-shadow: 0 0 35px #2187e7;
    width:80px;
    height:80px;
    margin:0 auto;
    position: absolute;
    top: 400px;
    left: 350px;
    -moz-animation:spinPulse 1s infinite ease-in-out;
    -webkit-animation:spinPulse 1s infinite linear;
    z-index: 999;
}
.circle1 {
    background-color: rgba(0,0,0,0);
    border:5px solid rgba(0,183,229,0.9);
    opacity:.9;
    border-left:5px solid rgba(0,0,0,0);
    border-right:5px solid rgba(0,0,0,0);
    border-radius:50px;
    box-shadow: 0 0 15px #2187e7; 
    width:60px;
    height:60px;
    margin:0 auto;
    position:absolute;
    top: 410px;
    left: 360px;
    -moz-animation:spinoffPulse 1s infinite linear;
    -webkit-animation:spinoffPulse 1s infinite linear;
    z-index: 999;
}

@-moz-keyframes spinPulse {
    0% { -moz-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7;}
    50% { -moz-transform:rotate(145deg); opacity:1; }
    100% { -moz-transform:rotate(-320deg); opacity:0; }
}
@-moz-keyframes spinoffPulse {
    0% { -moz-transform:rotate(0deg); }
    100% { -moz-transform:rotate(360deg);  }
}
@-webkit-keyframes spinPulse {
    0% { -webkit-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7; }
    50% { -webkit-transform:rotate(145deg); opacity:1;}
    100% { -webkit-transform:rotate(-320deg); opacity:0; }
}
@-webkit-keyframes spinoffPulse {
    0% { -webkit-transform:rotate(0deg); }
    100% { -webkit-transform:rotate(360deg); }
}

