/************************************************
 * CSS RESET
 ***********************************************/
html, body, div, span, h1, h2, h3, h4, h5, h6, ul, ol, li, p, a, img, form, input, textarea {
  margin:0; padding:0; border:none;
    -webkit-font-smoothing: antialiased;
}

html {
    background-color:white
}

body {
    webkit-font-smoothing: antialiased;
}
::selection      { background:#bdda91;  /* Safari and Opera */ }
::-moz-selection  { background:#bdda91; /* Firefox */ }

/************************
 * WEBFONTS
 ************************/
@font-face
{
	font-family: "tgb";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/t.eot");
	src: url("../fonts/t.eot?#iefix") format("eot"),url("../fonts/t.woff") format("woff"),url("../fonts/t.ttf") format("truetype"),url("../fonts/t.svgz#agb") format("svg"),url("../fonts/t.svg#agb") format("svg");
}


/************************************************
 * COMMON TEXT STYLES
 ***********************************************/
* {
    font-family: "helvetica neue", helvetica, arial, sans-serif;
}
p {
    font-size: 18px;
    color: #666;
    line-height: 25px;
}

h2 {
    font-family: "tgb", "helvetica neue", helvetica, arial, sans-serif;
    font-weight: normal !important;
    position: relative;
    top: 100px;
}

h1 {
    font-size: 38px;
}
h1 {
    font-size: 42px;
    margin: 20px 0 40px 0;
    font-family: "ChunkFiveRoman";
}
h2 {
    font-size: 28px;
}
h3 {
    font-family: "ChunkFiveRoman";
    font-size: 22px;color: #a2000c;
}
h3.subheading {
    margin-top: -30px;
    margin-bottom: 30px;
}
.subheading a{font-family: "ChunkFiveRoman";text-decoration: none;
    color: #a2000c;}
.heading {position: relative;left: 20%;}
#contact {
    position: absolute;
    background-color: black;
    opacity: 0.5;
    height:143px;
    width: 62px;
    border-radius:10px;
    box-shadow: 5px 5px 5px #888888;
    left: -20px;
    top: 400px;
}
#contacttext {
    position: relative;
    top: 5px;
    left: 40px;
    line-height: 0.9;
    font-family: "Courier New";
    font-size: 15px;
    color: white;
    opacity: 1;
}
#back {background-image: url(../../img/back.png);
    background-repeat: no-repeat;
    width: 84px;
    height: 37px;
    position: fixed;
    left: 0px;
    top: 200px; 
    z-index: 999;
}
/************************************************
 * SECTION 2
 ***********************************************/
#section2 {
    height:550px;
    border-bottom:solid 1px #d0d0d0;
    background:transparent url(../img/section2-bg.png) repeat-x; /* for backwards compatibility */
    background-image:url(../img/left-shadow.png), url(../img/right-shadow.png), url(../img/section2-bg.png);
    background-repeat:no-repeat, no-repeat, repeat-x;
    background-position:left top, right top, left top;
    }

.ie8 #section2 {
    background:transparent url(../img/section2-bg.png) repeat-x;
    }

#section2 .content {
    width:950px;
    height:550px;
    margin:auto;
    overflow:hidden;
    position:relative;
    }

#section2 .content1,
#section2 .content2{
    width:950px; height:300px;
    position:absolute; left:0; top:0;
    padding-top:250px;
    }


/* Backgrounds for inner content */
#section2 .content1 {
    background:transparent url(../img/orange-color-bg.png) center bottom no-repeat;
    }

#section2 .content2 {
    background:transparent url(../img/blue-color-bg.png) center bottom no-repeat;
    display:none;
    }


/* Backgrounds for inner content (IE styles) */
.ie8 #section2 .content1 {
    background:transparent url(../img/ie-orange-color-bg.png) center bottom no-repeat;
    }

.ie8 #section2 .content2 {
    background:transparent url(../img/ie-blue-color-bg.png) center bottom no-repeat;
    display:none;
    }


/* Common text styles for section2 inner content */
#section2 .content h2 {
  color:#ff5500;
  text-align:center;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size:16px;
  margin-bottom:30px;
}

#section2 .content p {
  color:#666;
  font-size:18px;
  text-align:center;
  padding:0px 180px;
}


/************************************************
 * THREE BIG BUTTONS
 ***********************************************/
.buttons li a {
    display:block;
    width:160px; height:30px;
    font-family: "tgb", "helvetica neue", helvetica, arial, sans-serif;
    position:absolute; left:50%; top:70px;
    font-size:26px;
    line-height:1;
    text-align:center;
    padding-top:170px;
    text-decoration:none;
    color:black;
    background:transparent url(../img/buttons.png) left top no-repeat;
    opacity:1;
    transition:opacity 0.5s;
    }

.buttons li.active a {
    cursor: pointer;
    opacity:1;
    }

.buttons li a:hover {
    opacity:1;
    }

/* Inactive buttons */
.buttons .button1 a {
    margin-left:-360px;
    background-image: url(../img/txtflip.png);
    background-repeat: no-repeat;
    width: 320px;
    height: 201px;
    }

.buttons .button2 a {
    margin-left:-80px;
    background-image: url(../img/epiclistz.png);
    background-repeat: no-repeat;
    width: 355px;
    height: 305px;
    }



/* Active buttons */
.buttons .button1.active a {
    margin-left:-360px;
    background-position:left top;
    background-image: url(../img/txtflipactive.png);
    background-repeat: no-repeat;
    width: 320px;
    height: 201px;
    }

.buttons .button2.active a {
    background-image: url(../img/epiclistzactive.png);
    background-repeat: no-repeat;
    width: 355px;
    height: 305px;
    opacity:1;
    }



/* Active buttons */
.ie8 .buttons .button1.active a {
    margin-left:-360px;
    background-position:left top;
    }

.ie8 .buttons .button2.active a {
    background-image: url(../img/epiclistzactive.png);
    background-repeat: no-repeat;
    width: 355px;
    height: 305px;
    opacity:1;
    }




/************************
 * RECTANGLE BUTTONS
 ************************/
.button {
    width:250px;
    margin:auto;
    }


.button a {
  display:block;
  width:250px;
  background:transparent url(../img/button.png);
  margin-top:35px;
  border-radius:3px;
  text-align:center;
  color:white;
  text-decoration:none;
  font-size:17px; line-height:1;
  padding:24px 0 24px 0;
  text-shadow:1px 1px 1px rgba(0,0,0,.2);
}

.button a:hover {
  background-position:left bottom;
  text-shadow:2px 2px 2px rgba(0,0,0,.2);
}

#section2 .content2 .button a {
  background-position:center top;
}

#section2 .content2 .button a:hover {
  background-position:center bottom;
}

