

.content,#pro,#app{
	width:348px;
	margin:0;
	position:relative;
	float:left;
	font-size:12px;
	line-height:2em;
	padding:30px 0 30px;
}
#skill,#pro,#app { width:350px; }

#skill { 
	list-style:none; 
	padding-top:30px;
	position: relative;
	left: 270px;
	top: -200px;
}

#skill li { 
	margin-bottom:70px; 
	background:#000; 
	height:5px; 
	border-radius:3px; 
	border-left:1px solid #111; 
	border-top:1px solid #111; 
	border-right:1px solid #333; 
	border-bottom:1px solid #333;  
}

#skill li em { 
	position:relative; 
	top:-30px;
}

#pro { 
	list-style:none; 
	padding-top:30px;
	position: relative;
	left:800px;
	top:160px;
}

#pro li { 
	margin-bottom:70px; 
	background:#000; 
	height:5px; 
	border-radius:3px; 
	border-left:1px solid #111; 
	border-top:1px solid #111; 
	border-right:1px solid #333; 
	border-bottom:1px solid #333;  
}

#pro li em { 
	position:relative; 
	top:-30px;
}

#app { 
	list-style:none; 
	padding-top:30px;
	position: relative;
	left:1000px;
	top:160px;
}

#app li { 
	margin-bottom:70px; 
	background:#000; 
	height:5px; 
	border-radius:3px; 
	border-left:1px solid #111; 
	border-top:1px solid #111; 
	border-right:1px solid #333; 
	border-bottom:1px solid #333;  
}

#app li em { 
	position:relative; 
	top:-30px;
}

.expand { 
	height:1px; 
	margin:2px 0; 
	background:#2187e7; 
	position:absolute;
	box-shadow:0px 0px 10px 1px rgba(0,198,255,0.4);
}

.html5       { width:65%;  -moz-animation:html5 2s ease-out;       -webkit-animation:html5 2s ease-out;       }
.css3        { width:65%;  -moz-animation:css3 2s ease-out;        -webkit-animation:css3 2s ease-out;        }
.jquery      { width:55%;  -moz-animation:jquery 2s ease-out;      -webkit-animation:jquery 2s ease-out;      }
.javascript   { width:50%;  -moz-animation:javascript 2s ease-out;   -webkit-animation:javascript 2s ease-out;   }
.python  	 {width:70%; -moz-animation:python 2s ease-out; 	-webkit-animation:python 2s ease-out;}
.c		 {width:45%; -moz-animatiob:c 2s ease-out;		-webkit-animation:c 2s ease-out;}
.ruby		 {width:40%; -moz-animatiob:ruby 2s ease-out;		-webkit-animation:ruby 2s ease-out;}
.java		 {width:30%; -moz-animatiob:java 2s ease-out;		-webkit-animation:java 2s ease-out;}
.dreamweaver		 {width:30%; -moz-animatiob:dreamweaver 2s ease-out;		-webkit-animation:dreamweaver 2s ease-out;}
.photoshop		 {width:30%; -moz-animatiob:photoshop 2s ease-out;		-webkit-animation:photoshop 2s ease-out;}

@-moz-keyframes html5       { 0%  { width:0px;} 100%{ width:65%;}  }
@-moz-keyframes css3        { 0%  { width:0px;} 100%{ width:65%;}  }
@-moz-keyframes jquery      { 0%  { width:0px;} 100%{ width:55%;}  }
@-moz-keyframes javascript  { 0%  { width:0px;} 100%{ width:50%;}  }
@-moz-keyframes python 		{ 0%  { width:0px;} 100%{ width:70%;}  }
@-moz-keyframes c			{ 0%  { width:0px;} 100%{ width:45%;}  }
@-moz-keyframes ruby		{ 0%  { width:0px;} 100%{ width:40%;}  }
@-moz-keyframes java		{ 0%  { width:0px;} 100%{ width:30%;}  }
@-moz-keyframes dreamweaver	{ 0%  { width:0px;} 100%{ width:30%;}  }
@-moz-keyframes photoshop	{ 0%  { width:0px;} 100%{ width:30%;}  }

@-webkit-keyframes html5       	{ 0%  { width:0px;} 100%{ width:65%;}  }
@-webkit-keyframes css3        	{ 0%  { width:0px;} 100%{ width:65%;}  }
@-webkit-keyframes jquery      	{ 0%  { width:0px;} 100%{ width:55%;}  }
@-webkit-keyframes javascript   { 0%  { width:0px;} 100%{ width:50%;}  }
@-webkit-keyframes python		{ 0%  { width:0px;} 100%{ width:70%;}  }
@-webkit-keyframes c			{ 0%  { width:0px;} 100%{ width:45%;}  }
@-webkit-keyframes ruby			{ 0%  { width:0px;} 100%{ width:40%;}  }
@-webkit-keyframes java			{ 0%  { width:0px;} 100%{ width:30%;}  }
@-webkit-keyframes dreamweaver	{ 0%  { width:0px;} 100%{ width:30%;}  }
@-webkit-keyframes photoshop	{ 0%  { width:0px;} 100%{ width:30%;}  }

