::selection      { background:#65ccdd;  /* Safari and Opera */ }
::-moz-selection  { background:#65ccdd; /* Firefox */ }

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
@font-face {
  font-family: 'Walter Turncoat';
  font-style: normal;
  font-weight: 400;
  src: local('Walter Turncoat'), local('WalterTurncoat'), url(http://themes.googleusercontent.com/static/fonts/walterturncoat/v3/sG9su5g4GXy1KP73cU3hvf-Xg5uhy57aq-Akr_1zBcg.woff) format('woff');
}

body{
	font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	font-weight: 400;
	font-size: 15px;
	margin: 0;
	padding: 0;
	font: 12px normal Verdana, Arial, Helvetica, sans-serif;
	height: 100%;
	color: #fff;
	background-image: url(../blackTransperantPNG.png);
	background-repeat: repeat;
	background-position: left top;
}
.me {background-image: url(../../img/me.png);
	background-repeat: no-repeat;
	width:500px;
	height:384px;
	position: absolute;
	left: 1200px;
	}
#contact {
    position: fixed;
    background-color: white;
	opacity: 0.5;
    height:143px;
	width: 62px;
	border-radius:10px;
	box-shadow: 5px 5px 5px #888888;
	left: -30px;
    top: 400px;
    z-index: 1300;
}
#contacttext {
	position: relative;
	top: 5px;
	left: 40px;
	line-height: 0.9;
	font-family: "Courier New";
	font-size: 15px;
	color: black;
}
a{
	color: #555;
	text-decoration: none;
}
.container{
	width: 100%;
	position: relative;
	min-height: 1300px;
	padding-left: -50px;
	padding-right: 50px;
}
#back {background-image: url(../../img/back.png);
	background-repeat: no-repeat;
	width: 84px;
	height: 37px;
	position: fixed;
	left: 0px;
	top: 150px;	
	z-index: 999;
}
.clr{
	clear: both;
	padding: 0;
	height: 0;
	margin: 0;
}
#ab_para {
	padding-left: 100px;
	padding-top: 50px;
	position: relative;
	top:-70px;
	left: 250px;
	font-size: 25px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	z-index: 100;
	letter-spacing: -1px;
}

#startquote{
	position: relative;
	z-index: 10;
	left: 280px;
	top:20px;
}

#endquote {
	position: relative;
	z-index: 10;
	left: 1005px;
	top:90px;
}
#about {
	position: relative;
	padding-top:100px;
	padding-right: 50px;
	left: 270px;
	display: block; text-decoration: none;
	font: 14px Helvetica, Arial, Sans-Serif; letter-spacing: -4px;  
	color: #999; text-shadow: 0px 3px 8px #2a2a2a;
	z-index: 99;
}
#about:hover {
	color: white; text-shadow: 0px 5px 8px #555;
}
#ph2 {
	position: relative;
	top:-40px;
}
#ah2 {
	position: relative;
	top:-40px;
}
#sh1 {
	position: relative;
	top:-100px;
	font: 30px Helvetica, Arial, Sans-Serif; letter-spacing: -2px;  
	color: #999; text-shadow: 0px 3px 8px #2a2a2a;
	z-index: 97;
	font-weight: bold;
}
#sh1:hover {
	color: white; text-shadow: 0px 5px 8px #555;
}
#interest {
	position: relative;
	top: -50px;
	left:260px;
	font: 17px Helvetica, Arial, Sans-Serif; letter-spacing: -2px;  
	color: #999; text-shadow: 0px 3px 8px #2a2a2a;
	z-index: 97;
	font-weight: bold;
}
#interest:hover {
	color: white; text-shadow: 0px 5px 8px #555;
}
.da-thumbs {
	left:250px;
	padding-right: 700px;
	list-style: none;
	position: relative;
	margin: 50px -10px;
}
.da-thumbs li {
	float: left;
	background: #fff;
	
	position: relative;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.da-thumbs li a,
.da-thumbs li a img {
	display: block;
	position: relative;
}
.da-thumbs li a {
	overflow: hidden;
}
.da-thumbs li a div {
	
	position: absolute;
	background: #333;
	background: rgba(75,75,75,0.7);
	width: 100%;
	height: 100%;
}
.da-thumbs li a div span {
	display: block;
	padding: 10px 0;
	margin: 40px 20px 20px 20px;
	text-transform: uppercase;
	font-weight: normal;
	color: rgba(255,255,255,0.9);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	border-bottom: 1px solid rgba(255,255,255,0.5);
	box-shadow: 0 1px 0 rgba(0,0,0,0.1), 0 -10px 0 rgba(255,255,255,0.3);
}
#listen {
	position: relative;
	top: -120px;
	right: -280px;
	font-family: 'pironv2Regular', Rockwell, Georgia, Verdana, Arial;
	font-weight: normal;
}
#lastfm {
  list-style: none;
  position: relative;
  margin: 50px -5px;
  line-height: 1.2;
  padding-right: 600px;
}

#lastfm li{
  float: right;
  background: #fff;
  position: relative;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  padding: 8px;
  z-index: 4;
  top: -100px;
  right: 740px;
}
#lastfm li a,
#lastfm li a img {
  display: block;
  position: relative;
}
#lastfm li a {
  overflow: hidden;
}
#center {
  background-image: url(../images/record_centre_v5.png);
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  z-index: 579;
  position: relative;
  top:-30px;
  left: -2px;
  margin: -30px 5px;
}