@charset "utf-8";
/* CSS Document */
 * {
            margin: 0;
            padding: 0;
        }

a{
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: underline;
}
body{background-image: url(bg.png);
    background-repeat: no-repeat;
    background-position: 1100px -50px;
	color:#666666;
    background-color:#FFFFFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
}

img{
	border:0;
}
#bg{
    position:relative;
    left: 100px;
    top: 50px;
}

#logo {position: relative;left: -10px; top: -5px;}
h1{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin-bottom: 0px;
	font-size:12px;
	text-decoration:underline;
	font-weight:bold;
}

#input, #output {
            font-family: Tahoma, sans-serif;
            border: 1.5px solid #97c652;
            width: 80%;
            height: 15.0em;
            margin-bottom: 2.0em;
        }

form{
}


img {
            margin-left: 6.0em;
        }